<div class="container">
    <div class="row" id="screenHeader">
        <div id="screenTitle" class="col-sm-12">
            <img src="/img/icons/kaselrun_normal.png">
            <img src="/img/icons/kaselrun_eclipse.png">
            <h1>도감기능은 로그인 없이도 사용 가능합니다.</h1>
        </div>
        <div id="screenContent" class="col-sm-12">
            <div class="list-group">
                <a href="/vw/book00_charItem.vw" class="list-group-item list-group-item-action">Book of Equipment</a>
            </div>
        </div>
    </div>
</div>