<!DOCTYPE HTML>
<html>
<head>
    <title>킹스레이드 길드토벌전 웹</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- favicon -->
    <link rel="shortcut icon" href=/img/faviconfavicon_kaselrun_nm.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon/favicon_kaselrun_nm.ico" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main/main-sidebar.css" >
    <link rel="stylesheet" href="/css/main/screen-content.css" >
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="/css/ui/toastui-select-box.css">

    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="/js/ui/toastui-select-box.js"></script>

</head>
<body>