<!DOCTYPE HTML>
<html>
<head>
    <title>달린다 오늘도 카셀은</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta property="og:url" content="http://www.kaselrun.xyz/">
    <meta property="og:title" content="카셀런">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://localhost:8080/img/icons/kaselrun_normal.png">
    <meta property="og:description" content="카셀! 멈춰! 마라톤 멈춰!">

    <!-- favicon -->
    <link rel="shortcut icon" href=/img/faviconfavicon_kaselrun_nm.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon/favicon_kaselrun_nm.ico" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/ui/jquery-ui.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main/main-sidebar.css" >
    <link rel="stylesheet" href="/css/main/screen-content.css" >
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="/css/ui/toastui-select-box.css">

    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="/js/cdn/jquery-ui.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="/js/ui/toastui-select-box.js"></script>

</head>
<body>