<div class="d-flex toggled" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-light" id="sidebar-wrapper">
        <div class="sidebar-heading"><a href="/" class="list-group-item-action bg-light">Home</a></div>
        <div id="mainSideBarMenuList" class="list-group list-group-flush">
<!--
            <a href="/vw/book00_charItem.vw" class="list-group-item list-group-item-action bg-light">Book of Equipment</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Screen 2</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Screen 3</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Screen 4</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Screen 5</a>
            <br/>
            <a href="/vw/guld00_member.vw" class="list-group-item list-group-item-action bg-light">Register G.Member</a>
            <a href="/vw/guld00_guild.vw" class="list-group-item list-group-item-action bg-light">Register Guild</a>
            <br/>
            <a href="/vw/comn00_char.vw" class="list-group-item list-group-item-action bg-light">Character Setting</a>
            <a href="/vw/comn00_item.vw" class="list-group-item list-group-item-action bg-light">Item Setting</a>
            <br/>
            <a href="/vw/comn00_code.vw" class="list-group-item list-group-item-action bg-light">Comn Code Setting</a>
            <a href="/vw/comn00_class.vw" class="list-group-item list-group-item-action bg-light">Code Class Setting</a>
            <br/>
            <a href="/vw/toastgrid.vw" class="list-group-item list-group-item-action bg-light">UI Template</a>
-->
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Side Menu</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <div style="color: #fff; margin-right: 20px;">
                            {{#userInfo}}
                                <img src="{{userInfo.picture}}" width="40px" height="40px" style="border-radius: 20px; margin-right: 10px; border: 2px solid gold;" alt="userIMG"/>
                                Logged in as <span id="user" style="padding-right: 15px"> {{userInfo.name}} </span>
                                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                            {{/userInfo}}
                            {{^userInfo}}
                                <a href="/oauth2/authorization/kakao" > <div id="kakaoLoginBtn"></div></a>
                                <!--<a href="/oauth2/authorization/google"><div id="googleLoginBtn"></div></a>-->
                                <style>
                                    #kakaoLoginBtn{
                                        background-image: url('/img/button/kakao_login_medium_narrow.png');
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        width:167px;
                                        height:41px;
                                        display : inline-block;
                                        margin : 0px 1px 2px 0px;
                                    }
                                    #googleLoginBtn{
                                        background-image: url('/img/button/btn_google_signin_dark_normal_web.png');
                                        width:191px;
                                        height:46px;
                                        display : inline-block;
                                    }
                                    #googleLoginBtn:hover{
                                        background-image: url('/img/button/btn_google_signin_dark_focus_web.png');
                                    }
                                    #googleLoginBtn:active{
                                        background-image: url('/img/button/btn_google_signin_dark_pressed_web.png');
                                    }
                                </style>
                            {{/userInfo}}
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://cafe.naver.com/kingsraid" target="_sub">Officical Cafe</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu List
                        </a>
                        <div id="mainDropdownMenuList" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
<!--
                            <a class="dropdown-item" href="/vw/book00_charItem.vw">Book of Equipment</a>
                            <a class="dropdown-item" href="#">Screen 2</a>
                            <a class="dropdown-item" href="#">Screen 3</a>
                            <a class="dropdown-item" href="#">Screen 4</a>
                            <a class="dropdown-item" href="#">Screen 5</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/vw/guld00_member.vw">Register G.Member</a>
                            <a class="dropdown-item" href="/vw/guld00_guild.vw">Register Guild</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/vw/comn00_char.vw">Character Setting</a>
                            <a class="dropdown-item" href="/vw/comn00_item.vw">Item Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/vw/comn00_class.vw">Comn Class Setting</a>
                            <a class="dropdown-item" href="/vw/comn00_code.vw">Comn Code Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/vw/toastgrid.vw">UI Template</a>
-->
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">