<div class="d-flex toggled" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-light" id="sidebar-wrapper">
        <div class="sidebar-heading"><a href="/" class="list-group-item-action bg-light">Home</a></div>
        <div id="mainSideBarMenuList" class="list-group list-group-flush">
<!--
            <a href="/vw/book00_charItem.vw" class="list-group-item list-group-item-action bg-light">Book of Equipment</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Screen 2</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Screen 3</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Screen 4</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Screen 5</a>
            <br/>
            <a href="/vw/guld00_member.vw" class="list-group-item list-group-item-action bg-light">Register G.Member</a>
            <a href="/vw/guld00_guild.vw" class="list-group-item list-group-item-action bg-light">Register Guild</a>
            <br/>
            <a href="/vw/comn00_char.vw" class="list-group-item list-group-item-action bg-light">Character Setting</a>
            <a href="/vw/comn00_item.vw" class="list-group-item list-group-item-action bg-light">Item Setting</a>
            <br/>
            <a href="/vw/comn00_code.vw" class="list-group-item list-group-item-action bg-light">Comn Code Setting</a>
            <a href="/vw/comn00_class.vw" class="list-group-item list-group-item-action bg-light">Code Class Setting</a>
            <br/>
            <a href="/vw/toastgrid.vw" class="list-group-item list-group-item-action bg-light">UI Template</a>
-->
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Side Menu</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <div style="color: #fff; margin-right: 20px;">
                            {{#userInfo}}
                                <img src="{{userInfo.picture}}" width="40px" height="40px" style="border-radius: 20px; margin-right: 10px; border: 2px solid gold;" alt="userIMG"/>
                                Logged in as <span id="user" style="padding-right: 15px"> {{userInfo.name}} </span>
                                <button id="btnGuildInfo" type="button" class="btn btn-primary">
                                    길드정보
                                </button>
                                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                            {{/userInfo}}
                            {{^userInfo}}
                                <a href="/oauth2/authorization/kakao" > <div id="kakaoLoginBtn"></div></a>
                                <!--<a href="/oauth2/authorization/google"><div id="googleLoginBtn"></div></a>-->
                                <style>
                                    #kakaoLoginBtn{
                                        background-image: url('/img/button/kakao_login_medium_narrow.png');
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        width:167px;
                                        height:41px;
                                        display : inline-block;
                                        margin : 0px 1px 2px 0px;
                                    }
                                    #googleLoginBtn{
                                        background-image: url('/img/button/btn_google_signin_dark_normal_web.png');
                                        width:191px;
                                        height:46px;
                                        display : inline-block;
                                    }
                                    #googleLoginBtn:hover{
                                        background-image: url('/img/button/btn_google_signin_dark_focus_web.png');
                                    }
                                    #googleLoginBtn:active{
                                        background-image: url('/img/button/btn_google_signin_dark_pressed_web.png');
                                    }
                                </style>
                            {{/userInfo}}
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://cafe.naver.com/kingsraid" target="_sub">Officical Cafe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://game-stats.kingsraid.com/live/kr-stats/v1/html/index.html?lang=ko" target="_sub">Statistics</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu List
                        </a>
                        <div id="mainDropdownMenuList" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
<!--
                            <a class="dropdown-item" href="/vw/book00_charItem.vw">Book of Equipment</a>
                            <a class="dropdown-item" href="#">Screen 2</a>
                            <a class="dropdown-item" href="#">Screen 3</a>
                            <a class="dropdown-item" href="#">Screen 4</a>
                            <a class="dropdown-item" href="#">Screen 5</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/vw/guld00_member.vw">Register G.Member</a>
                            <a class="dropdown-item" href="/vw/guld00_guild.vw">Register Guild</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/vw/comn00_char.vw">Character Setting</a>
                            <a class="dropdown-item" href="/vw/comn00_item.vw">Item Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/vw/comn00_class.vw">Comn Class Setting</a>
                            <a class="dropdown-item" href="/vw/comn00_code.vw">Comn Code Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/vw/toastgrid.vw">UI Template</a>
-->
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="loadingScreen" class="loadingScreen">
            <img id='loadingKasel_normal' class='loadingKasel loadingImgSelected' src="/img/icons/kaselrun_normal.png">
            <img id='loadingKasel_eclipse' class='loadingKasel ' src="/img/icons/kaselrun_eclipse.png">
        </div>

        <div class="modal fade" id="modalCommon" tabindex="-1" role="dialog" aria-labelledby="modalLabelCommon" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <img class='modalIconKasel' src="/img/icons/kaselrun_normal.png">
                        <h5 class="modal-title" id="modalLabelCommon"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary common-modal-close" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalLabelConfirm" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <img class='modalIconKasel' src="/img/icons/kaselrun_normal.png">
                        <h5 class="modal-title" id="modalLabelConfirm"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary common-modal-close" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary common-modal-ok">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalCommonAlert" tabindex="-1" role="dialog" aria-labelledby="modalLabelCommon" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <img class='modalIconKasel' src="/img/icons/kaselrun_eclipse.png">
                        <h5 class="modal-title" id="modalLabelCommon"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary common-modal-close" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalCommonAlertConfirm" tabindex="-1" role="dialog" aria-labelledby="modalLabelCommon" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <img class='modalIconKasel' src="/img/icons/kaselrun_eclipse.png">
                        <h5 class="modal-title" id="modalLabelCommon"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary common-modal-close" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger common-modal-ok">OK</button>
                    </div>
                </div>
            </div>
        </div>
        {{#userInfo}}
            <!-- [START] 길드 가입 Modal -->
            <div class="modal fade" id="modalGuildRegist" tabindex="-1" role="dialog" aria-labelledby="modalLabelGuildRegist" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="z-index:1041;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <img class='modalIconKasel ' src="/img/icons/kaselrun_normal.png">
                            <h5 class="modal-title" id="modalLabelGuildRegist">길드 가입 신청</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="frmG" onsubmit="return false;">
                                <div class="ui-widget">
                                    <label for="frmG_guild"><span style="color: red; font-weight: 900;">*</span> <a href="#" class="GRtooltip" title="가입 길드">Guild</a></label>
                                    <input id="frmG_guild" data-type="text" name="guild_name">
                                    <input id="frmG_guild_code" name="guild_id" type="text" data-type="text" readonly="readonly" disabled="disabled" style="width:50px;">
                                </div>
                                <div>
                                    <label for="frmG_nickName"><span style="color: red; font-weight: 900;">*</span> <a href="#" class="GRtooltip" title="인게임 닉네임">Nick Name</a></label>
                                    <input id="frmG_nickName" name="nickname" type="text" data-type="text" maxlength="20" style="width:260px;">
                                </div>
                                <div>
                                    <label for="frmG_registMsg"><a href="#" class="GRtooltip" title="길드 가입 메시지">Regist Message</a></label>
                                    <textarea id="frmG_registMsg" name="regist_msg" data-type="text" rows="5" maxlength="200" readonly="readonly" style="width:260px; vertical-align: top; "></textarea>
                                </div>
                            </form>
                            <div style="padding-top:20px;"><h6>검색되지 않는 길드는 카셀런 관리자에게 문의주세요.</h6></div>
                        </div>
                        <div class="modal-footer">
                            <button id='btnGuildRegistClose' type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id='btnGuildRegist' type="button" class="btn btn-primary">길드가입 신청</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [E N D] 길드 가입 Modal -->

            <!-- [START] 길드 정보 Modal -->
            <div class="modal fade" id="modalGuildInfo" tabindex="-1" role="dialog" aria-labelledby="modalLabelGuildInfo" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="z-index:1041;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <img class='modalIconKasel ' src="/img/icons/kaselrun_normal.png">
                            <h5 class="modal-title" id="modalLabelGuildInfo">길드 정보</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id='btnGuildCancelRegist' type="button" class="btn btn-danger">길드 탈퇴</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [E N D] 길드 정보 Modal -->

        {{/userInfo}}
        <div class="container-fluid">