{{>layout/main/header}}
{{>layout/main/wrapper-top}}

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>

{{#userInfo}}
    {{#userCertiYN}}

<style>

    .infoTable td{
        vertical-align : middle;
        padding : 5px;
    }

    .infoTable .charPortTD, .infoTable .ItemIconTD{
        text-align : center;
    }

    .swTable {
        table-layout:fixed;
        font-size:10pt;
        font-family:Arial;
        width:0px;
        border-spacing : 0px;
        padding : 0px;
        width :440px
    }
    .swTableTD1 {
        border-right: 2px solid rgb(0, 0, 0);
        border-bottom: 2px solid rgb(0, 0, 0);
        border-left: 2px solid rgb(0, 0, 0);
        padding: 2px 3px;
        vertical-align: middle;
        background-color: rgb(102, 102, 102);
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-align: center; height: 21px;
    }
    .swTableTD2 {
        border-right: 2px solid rgb(0, 0, 0);
        border-bottom: 1px solid rgb(0, 0, 0);
        padding: 2px 3px;
        vertical-align: middle;
    }

    .charInfoCharNickName{
        font-weight: bold;
    }

    .charInfoCharName{
        font-weight: bold;
        font-size: 20px;
        display: inline-block;
        padding: 2px 0px 10px 0px;
    }

    .charInfoClass{ font-weight: bold;}
    .charInfoClass01{ color: #092747; }
    .charInfoClass02{ color: #673803; }
    .charInfoClass03{ color: #640358; }
    .charInfoClass04{ color: #3C7503; }
    .charInfoClass05{ color: #011674; }
    .charInfoClass06{ color: #76000A; }
    .charInfoClass07{ color: #006979; }

    .charInfoAtkType01{font-weight: bold; color: #E05813;}
    .charInfoAtkType02{font-weight: bold; color: #61C1D0;}


    .itemNameTd {
        font-weight: bold;
        font-size: 16px;
    }

    .itemComtTd {
        font-size:10pt;
        font-family:Arial;
    }

    .swiper-container {
      width: 100%;
      height: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .gallery-top {
      height: 100%;
      width: 100%;
    }

    .gallery-thumbs {
      height: 120px;
      width: 650px;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .gallery-thumbs .swiper-slide {
      width: 100px;
      height: 100px;
      border-radius: 15%;
      background-color: #c2e0fc;
    }

    .gallery-thumbs .swiper-slide:not(.classy) .thumbImgDiv {
      width: 90px;
      height: 96px;
      margin: 2px 5px 2px 5px;
    }

    .gallery-thumbs .swiper-slide:not(.swiper-slide-thumb-active) .thumbImgDiv {
      opacity: 0.4;
    }

    .gallery-thumbs .swiper-slide:has(.swiper-slide-thumb-active) .thumbImgDiv {
      opacity: 0.4;
    }

</style>

        <div class="container">
            <div class="row" id="screenHeader">
                <div id="screenTitle" class="col-sm-6">
                    <h1 style="display:inline-block;">장비 도감</h1>
                    <div id="frmS_paramStr1" style="display:inline-block; width:300px; margin-left : 30px"></div>
                </div>
                <div id="screenButton" class="col-sm-6">
                    <a href="#" id="btnSearch" role="button" class="btn btn-primary">조회</a>
                    <a href="#" id="btnClear"  role="button" class="btn btn-light">초기화</a>
                </div>
            </div>
            <!--
            <div class="row" id="searchArea">
                <form id="frmS" onsubmit="return false">
                    <table id="tableSearch">
                        <colgroup>
                            <col width="100px">
                            <col width="270px">
                            <col width="100px">
                            <col width="270px">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>클래스</th>
                            <td><input type="text" name="paramStr1" id="frmS_paramStr1" data-type="text" class="" placeholder="코드명 / 이름" maxlength="10" style="width: 100%; height: 28px;"></td>
                            <td></td>
                        </tr>
                        </tbody>

                    </table>
                </form>
            </div>
            -->
            <div class="row screenContent" style="height : 800px;">
                <div class="swiper-container gallery-thumbs">
                    <div id='galleryThumbsDiv' class="swiper-wrapper">
                        <!--
                        <div class="swiper-slide" style="background-image:url(./images/nature-1.jpg)"></div>
                        -->
                    </div>
                </div>
                <div class="swiper-container gallery-top">
                    <div id='galleryTopDiv' class="swiper-wrapper">
                        <!--
                        <div class="swiper-slide" style="background-image:url(./images/nature-1.jpg)"></div>
                        -->
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-blue"></div>
                    <div class="swiper-button-prev swiper-button-blue"></div>
                </div>
            </div>
        </div>

    {{/userCertiYN}}
    {{^userCertiYN}}
        {{>layout/main/cert_no_permission}}
    {{/userCertiYN}}

{{/userInfo}}
{{^userInfo}}
    {{>layout/main/cert_no_login}}
{{/userInfo}}

{{>layout/main/wrapper-bottom}}

<!-- [START] SCREEN's Scripts -->



<script src="/js/app/book/book00_charItem.js"></script>

<script>
		$(document).ready(function(){

            var classList = {{{classList}}};
            var s3config = {{{s3config}}};

			// send parameter to scirpt for java parameter
			var param = {
				// default parameter
				role     : 'IR01_0100_V01',
				// session parameter
				variables : {
                    "classList" : classList,
                    "s3config" : s3config
				}

			};

			BOOK00_CHARITEM.initialize(param);

		});
	</script>

<!-- [E N D] SCREEN's Scripts -->

{{>layout/main/footer}}