<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="defaultStatementTimeout" value="3000" />
    </settings>
    <mappers>
        <mapper resource="mapper/mybatis/posts/Posts00Mapper.xml" />
        <mapper resource="mapper/mybatis/user/User00Mapper.xml" />
        <mapper resource="mapper/mybatis/comn/Comn00Mapper.xml" />
        <mapper resource="mapper/mybatis/book/Book00Mapper.xml" />
        <mapper resource="mapper/mybatis/guld/Guld00Mapper.xml" />
        <mapper resource="mapper/mybatis/main/Main00Mapper.xml" />
    </mappers>
</configuration>